@model GastoMatic.Models.UserServiceModel

@{
    ViewBag.Title = "CuentaCreada";
}

<h2>CuentaCreada</h2>
<p>Tu cuenta ha sido creada correctamente</p>

<div>
    @Html.ActionLink("Autentificate aqui", "Login")
</div>
