body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


header {
    min-width: 1000px;
    height: 50px;
    background: #00a0db;
    margin-bottom: 50px;
}

.login {
    width: 500px;
    height: 330px;
    border: 1px solid #c9c9c9;
    padding: 10px;
    margin: auto;
}

input {
    width: 100%;
    height: 35px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: red;
    border: 0px;
    color: #fff;
    font-size: 20px;
}

.logo {
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}

.registro {
    margin-top: 20px;
}

.registro a {
    color: #000;
    font-size: 15px;
}

.classname {
    width: 600px;
    margin: auto;
    border: 1px solid #c9c9c9;
    padding: 10px;
}

.Detalle {
    width: 600px;
    margin: auto;
    border: 1px solid #c9c9c9;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
}


div#tabla {
    width: 1000px;
    height: 100%;
    margin: auto;
}


div#tabla th {
    padding: 5px;
    text-align: center;
}


div#tabla td {
    padding: 5px;
    text-align: CENTER;
}



.Createn {
    width: 1000px;
    height: 30px;

    margin: auto;
}

div#contactFormArea {
    width: 500px;
    height: 100%;
    border: 1px solid;
    margin: auto;
    padding: 5px;
}

button.btn.btn-default {
    width: 100%;
    background: #007fff;
    border: 0px;
    color: #fff;
}

.tablanew {
    width: 1000px;
    height: 100px;
    /* border: 1px solid; */
    margin: auto;
}

.udp {
        width: 600px;
    margin: auto;


}


.cuenta {
    width: 600px;
    MARGIN: AUTO;
}


.delete {
    width: 600px;
    margin: auto;
    border: 1px solid #c9c9c9;
    padding: 10px;
}

.details {
        width: 600px;
    margin: auto;
    border: 1px solid #c9c9c9;
    padding: 10px;
}
.tabl {
    width: 1000px;
    /* border: 1px solid; */
    margin: auto;
}



@media only screen and (max-width: 768px) {

.classname{
    width: 100%;
}
.login {
    width: 100%;
}
header {
    width: 100% !important;
}   

.Detalle {
    width: 100%;
} 
}

nav#menu {
    width: 531px;
    HEIGHT: 30PX;
    /* BORDER: 1px solid; */
    float: left;
    margin-top: 10px;
}

nav#menu ul li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

nav#menu a {
    color: #fff;
    font-size: 20px;
}